body {
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

/***************************/
/*          HEADER         */
/***************************/

.header {
  width: 100vw;
  height: 10vh;
  background-color: black;
  color: white;
  display: inline-block;
  text-align: center;
}

.header-left {
  height: 10vh;
  width: 25%;
  float: left;
}

.header-left img {
  padding-top: 1vh;
  height: 8vh;
}

.header-center {
  height: 10vh;
  width: 50%;
  float: left;
}

.header-center h1 {
  margin: none;
  margin-top: 1vh;
  font-size: 6vh;
}

.header-right {
  height: 10vh;
  width: 25%;
  float: left;
}

.header-right button {
  height: 3vh;
  margin-top: 3.5vh;
  margin-bottom: 3.5vh;
  background-color: rgb(66, 66, 66);
  border: 2px solid gray;
  color: white;
}

/***************************/
/*        SCROLLBAR        */
/***************************/

::-webkit-scrollbar {
  width: 12px;
  height: 12px;
}

::-webkit-scrollbar-track {
  border: none;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: rgb(56, 56, 56);
  border-radius: 10px;
}

/***************************/
/*       ALL PANELS        */
/***************************/

h2 {
  color: lightgray;
  font-size: 2vw;
  text-align: center;
  margin-bottom: 10px;
  margin-top: 10px;
}

table {
  border-collapse: collapse;
  align-self: center;
  font-size: .9vw;
  margin-bottom: 20px;
  background-color: white;
}

td, th {
  border: 1px solid black;
  text-align: center;
  padding: 5px;
}

/***************************/
/*         L PANEL         */
/***************************/

.panel-left {
  position: fixed;
  height: 100vh;
  width: 0;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.panel-left a {
  display: block;
  text-decoration: none;
  font-size: 5vh;
  padding-left: 12vw;
  color: #818181;
  transition: 0.3s;
}

.panel-left a:hover {
  color: #f1f1f1;
}

.panel-left table {
  width: 21vw;
  margin-left: 2vw;
}

ul li {
  font-size: 1vw;
  color: lightgray;
  width: 21vw;
  margin-left: 2vw;
}

.panel-left tr:first-child {
  background-color: #363636;
  color: white;
}

/***************************/
/*         R PANEL         */
/***************************/

.panel-right {
  position: fixed;
  height: 100vh;
  width: 0;
  z-index: 1;
  top: 0;
  right: 0;
  background-color: #111;
  overflow-x: hidden;
  transition: 0.5s;
}

.panel-right a {
  display: block;
  text-decoration: none;
  font-size: 5vh;
  padding-left: 37vw;
  color: #818181;
  transition: 0.3s;
}

.panel-right a:hover {
  color: #f1f1f1;
}

.panel-right table {
  width: 71vw;
  margin-left: 2vw;
}

.panel-right tr:first-child {
  background-color: #0B5394;
  color: white;
}

.panel-right tr:nth-child(even) {
  background-color: #E8F0FE;
}

/***************************/
/*           MAIN          */
/***************************/

#main {
  transition: margin-left .5s;
  padding: 2vw;
}

.left-button {
  float: left;
  margin-right: 1vw;
  height: 85vh;
  background-color: rgb(66, 66, 66);
  border: 3px solid gray;
  color: white;
  outline: none;
}

.left-button:active {
  background-color: gray;
}

.right-button {
  float: left;
  margin-left: 1vw;
  height: 85vh;
  background-color: rgb(66, 66, 66);
  border: 3px solid gray;
  color: white;
}

.right-button:active {
  background-color: gray;
}

.canvas-container {
  float: left;
  margin: none;
  border: 1px solid black;
}